# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native / build files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
